body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  padding: 20px;
}

h1 {
  text-align: center;
}

.products {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  padding: 15px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
}

.price {
  font-size: 20px;
  color: green;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}
